PORT=3001

NODE_ENV=development
TZ=Asia/Tashkent
OPENAI_MODEL=gpt-4o-mini
DATABASE_URL="postgresql://postgres:123456@localhost:5433/baza_name_db"

TELEGRAM_BOT_TOKEN=8765226356:AAEAs...

GPT_KEY=sk-pro...

MINI_APP_URL=https://domen.uz
FRONTEND_ORIGINS=https://domen.uz,https://www.domen.uz




